@{
    ViewData["Title"] = "Contatos";
}
@{
    <h1>Contatos: </h1>
    <p>Entre em contato comigo através dos seguintes meios:</p>

        <li>Email: anaguerra@cinel.com</li>
        <li>Telefone: (+351) 123 456 789</li>
        <li>Endereço: Rua Cinel, 123, Lisboa, PT</li>
        <br />
        <img src="~/Imagens/Cinel.png" />
}
